@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>This is R&R</h1>
    <p class="lead">This is a Restaurant Rater made by yours truly jeffyspur.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Please take a look around and when you're ready we'll start rating some restaurants.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get restaurants</h2>
        <p>This is going to be a button to get the restaurants aleardy in our database.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>About the author</h2>
        <p>This will help you understand who I am. </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>